<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Neoluxe CRM Universal Contract</title>
</head>
<body style="background-color: darkgray">
<div style="background-color: darkgray">
<div class="container-fluid" style="background-color: darkgray ; padding: 30px">

    <h1>Конструктор Договора</h1>
    <p class="text-start">Создание Договора</p>
<div class="container" style="background-color: darkgray ; padding: 30px">
</div>
<div class="mb-3">
    <h5>Выбирете тип договора (с фирмой или с частным заказчиком)</h5>

    <a href="u_c_f_private.html">Договор с физ лицом</a><br>
    <a href="u_c_f_firm.html">Договор с организацией</a>


</div>
</div>
</div>
</body>
</html>